extends layout

block content
    if(!user)
        h1(class="title")= title
        h4(class="subtitle") An initiative by MS Ramaiah Memorial Hospital
        <br>
        .card
            .container1
                h5(class="homestuff") Employee Exit form automation is an initiative by the MS Ramaiah Memorial Hospital - HR Department to better understand why an employee has chosen to leave this institution. This is to analyse the main reasons and to take appropriate, timely corrective measures so that attrition is reduced
    else if(user)
        h1(class="title") Employee Exit Forms
        <br>
        table(id="showData")
        input(type="button",onclick="CreateTableFromJSON()",value="Create Table From JSON")
        div(class="col-md-6")
            table(id="table_id",class="display",data-toggle="table",data-pagination="true",data-show-refresh="true",data-show-toggle="true",data-show-columns="true",data-search="true",data-show-pagination-switch="true",data-id-field="visitor_id",data-page-list="[10, 25, 50, 100, ALL]",data-show-footer="false")
                thead
                    tr
                        th Emp ID
                        th Name
                        th Date
                        th Time
                        th Des.
                        th DOJ
                        th Res Sub.
                        th Res N.
                        th Rel On.
                        th Work S.
                        th Reasons for Exit
                        th Action
                tbody
        script.
            $(function () {
                var i = 1;
                var rankArray = JSON.parse( !{JSON.stringify(res)} );
                //alert(rankArray[0].empid);
                for(i=0;i<rankArray.length;i++) {
                    var out='';
                    var url1,url2,url3;
                    url1="/edit?"+rankArray[i].empid;
                    url2="/printform?"+rankArray[i].empid;
                    var m=0;
                    if(rankArray[i].op1!=null){
                        out+=++m+". Retirement <br>";
                    }
                    if(rankArray[i].op2!=null)
                        out+="<strong>"+ ++m +"</strong>"+". Career Advancement <br>";
                    if(rankArray[i].op3!=null)
                        out+="<strong>"+ ++m +"</strong>"+". Personal Reasons <br>";
                    if(rankArray[i].op4!=null)
                        out+="<strong>"+ ++m +"</strong>"+". Scale of Pay <br>";
                    if(rankArray[i].op5!=null)
                        out+="<strong>"+ ++m +"</strong>"+". Inadequate resources to perform duty <br>";
                    if(rankArray[i].op6!=null)
                        out+="<strong>"+ ++m +"</strong>"+". Dissatisfaction about work <br>";
                    if(rankArray[i].op7!=null)
                        out+="<strong>"+ ++m +"</strong>"+". Work culture <br>";
                    if(rankArray[i].op8!=null)
                        out+="<strong>"+ ++m +"</strong>"+". Interpersonal relationships in the department <br>";
                    var f = '';
                    f += "<tr><td>" + rankArray[i].empid + "</td>";
                    f += "<td>"+rankArray[i].name+"</td><td>"+rankArray[i].date+"</td><td>"+rankArray[i].time+"</td>";
                    f += "<td>"+rankArray[i].designation+"</td><td>";
                    f += rankArray[i].dateofjoining+"</td><td>"+rankArray[i].resigsubmit+"</td><td>"+rankArray[i].resignotice;
                    f += "</td><td>"+rankArray[i].relievedon+"</td><td>"+rankArray[i].worksatis+"</td><td>"+out;
                    f += "</td><td><a class='like' href='";
                    f += url1+"' title='Edit' method='POST'>";
                    f += "<span class='glyphicon glyphicon-pencil'>  Edit</span>";
                    f += "<a class='like' href='";
                    f += url2+"' title='View Form' method='POST'>";
                    f += "<span class='glyphicon glyphicon-search'>  View Form</span></td></tr>";
                    $("#table_id > tbody").append(f);
                }
                /*<td>"+rankArray[i].op1+"</td><td>";
                f += rankArray[i].op2+"</td><td>"+rankArray[i].op3+"</td><td>"+rankArray[i].op4+"</td><td>";
                f += rankArray[i].op5+"</td><td>"+rankArray[i].op6+"</td><td>"+rankArray[i].op7+"</td><td>";
                f += rankArray[i].op8+"</td></tr>"*/
                /*for(i=0;i<#{number};i++) {
                    var s = '';
                    var char2 = '{';
                    var char1 = '#';
                    var char3 = '}';

                    var mak=f;
                    //alert(mak);
                    //alert(f);

                    s += "<tr><td>" + char1 + char2 + "res" + "[" + i + "]"+".empid"+char3+"</td>";
                    s+= "<td>m</td><td><button id='egfiw'>Print Form</button></td></tr>"
                    $("#table_id > tbody").append(s);
                    alert(s);
                }*/
                var m=99;
                $('#table_id').DataTable({
                    responsive: true
                });
                $("button").click(function () {
                    alert(this.value); // or alert($(this).attr('id'));
                    window.location.href = '/hhk';
                });
            });

