extends layout

block content
    link(rel="stylesheet",href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet',href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    if (!user)
        p Not allowed to view this page

    else if (user)
        h2 Human Resource Department
        p(id="Error") The text fields with an asterisk (*) marked are compulsory
        form(action='/form001',method='post',class='form-style-7',onsubmit="return mySubmitFunction()")
            ul
                li(id="namebox")
                    label(for="name") Name
                        span(class="required")    *
                    input(type="text",name="name",id="name",maxlength="100",onKeyPress="return disableEnterKey(event)")
                    span Enter your full name here
                li(id="empidbox")
                    label(for="empid") Employee ID
                        span(class="required")    *
                    input(type="text",id="empid",name="empid",onKeyPress="return disableEnterKey(event)")
                    span Enter your correct employee ID here
                li(id="desigbox")
                    label(for="designation") Designation
                        span(class="required")    *
                    input(type="text",name="designation",id="designation",onKeyPress="return disableEnterKey(event)")
                    span Enter your designation here
                li(id="reportingbox")
                    label(for="reportingto") Reporting to:
                        span(class="required")    *
                    input(type="text",name="reportingto",id="reportingto",onKeyPress="return disableEnterKey(event)")
                    span Reporting to: (Name of Supervisor / HOD)
                li(id="datebox1")
                    label(type="date",for="dateofjoining") Date of Joining:
                        span(class="required")    *
                    input(id="datepicker1",type="text",value='',name="dateofjoining",placeholder="Click here (DD/MM/YYYY)",readonly="readonly",onKeyPress="return disableEnterKey(event)")
                    span Select the date of joining (DD-MM-YYYY)
                li(id="datebox2")
                    label(type="date",for="resigsubmit") Resignation Submitted On:
                        span(class="required")    *
                    input(id="datepicker2",type="text",name="resigsubmit",placeholder="Click here (DD/MM/YYYY)",readonly="readonly",onKeyPress="return disableEnterKey(event)")
                    span Select date of submission of resignation (DD-MM-YYYY)
                li(id="resignotice")
                    label(for="resignotice") Resignation Notice Period
                        span(class="required")    *
                    input(class='resignotice1',type='radio', name='resignotice', value='1 Month',onKeyPress="return disableEnterKey(event)")
                    Thing 1 Month <br>
                    input(class='resignotice2',type='radio', name='resignotice', value='24 Hours',onKeyPress="return disableEnterKey(event)")
                    Thing 24 Hours <br>
                    span Resignation Notice Period (Select relevant option)
                li(id="datebox3")
                    label(type="date",for="relievedon") Relieved On:
                        span(class="required")    *
                    input(id="datepicker3",type="text",name="relievedon",placeholder="Click here (DD/MM/YYYY)",readonly="readonly",onKeyPress="return disableEnterKey(event)")
                    span Relieved On (DD-MM-YYYY)
                li(id="worksatisfaction")
                    label(for="worksatisfaction") Work Satisfaction
                        span(class="required")    *
                    input(class='worksatisfaction1',type='radio', name='worksatisfaction', value='Yes',onKeyPress="return disableEnterKey(event)")
                    Thing Yes <br>
                    input(class='worksatisfaction2',type='radio', name='worksatisfaction', value='No',onKeyPress="return disableEnterKey(event)")
                    Thing No <br>
                    span Work Satisfaction (Select relevant option)
                li(id="comments")
                    label(for="comments") Your Comments:
                    textarea(name="comments",id="commentdata",onkeyup="adjust_textarea(this)",rows="3",cols="45",maxlength="150")
                    span Your Comments (if any)
                li(id="leavereason")
                    label(for="leavereason") Crucial Reason for Leaving:
                        span(class="required")    *
                    form(action='')
                        input(class='leavereason1',type='radio', name='op1', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Retirement <br>
                        input(class='leavereason2',type='radio', name='op2', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Career Advancement/Enhancement <br>
                        input(class='leavereason3',type='radio', name='op3', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Personal Reasons <br>
                        input(class='leavereason4',type='radio', name='op4', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Scale of Pay <br>
                        input(class='leavereason5',type='radio', name='op5', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Inadequate resources to perform duty <br>
                        input(class='leavereason6',type='radio', name='op6', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Dissatisfaction about work <br>
                        input(class='leavereason7',type='radio', name='op7', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Work Culture <br>
                        input(class='leavereason8',type='radio', name='op8', value='Yes',onKeyPress="return disableEnterKey(event)")
                        Thing Interpersonal relationships in the department <br>
                        span Please note, this is a crucial input for the hospital, for enhancing the satisfaction of the employees
                li(id="addcomments1")
                    textarea(name="addcomments1",id="addcommdata1",onkeyup="adjust_textarea(this)",rows="3",cols="45",maxlength="150")
                    span If given an opportunity, would you like to come back to this organisation in the future?
                li(id="addcomments2")
                    textarea(name="addcomments2",id="addcommdata2",onkeyup="adjust_textarea(this)",rows="3",cols="45",maxlength="150")
                    span Additional Comments if any
                li(class='submitbtn')
                    input(type="submit",value="Send this")
                li(id="rehireable")
                    label(for="rehireable") Is the employee re-hireable or not?
                        span(class="required")    *
                    input(class='rehireable1',type='radio', name='rehireable', value='Yes',onKeyPress="return disableEnterKey(event)")
                    Thing Yes <br>
                    input(class='rehireable2',type='radio', name='rehireable', value='No',onKeyPress="return disableEnterKey(event)")
                    Thing No <br>
                    span Rehireability (Select Relevant Option)

    script.
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight)+"px";
        }

        $.fn.pVal = function(){
            //alert("Here");
            var $this = $(this),
            val = $this.eq(0).val();
            if(val == $this.attr('placeholder'))
                return('');
            else
                return(val);
            }

    script.
        $( function() {
            $( "#datepicker1" ).datepicker({
            changeYear:true,
            dateFormat:"dd-mm-yy",
            maxDate: new Date()});
            $( "#datepicker2" ).datepicker({
            changeYear:true,
            dateFormat:"dd-mm-yy",
            maxDate: new Date()});
            $( "#datepicker3" ).datepicker({
            changeYear:true,
            dateFormat:"dd-mm-yy",
            maxDate: new Date()});


            var radios = $('input[type=radio]');

            /**
             * Adds click listeners to all checkboxes to unselect checkbox if it was checked already
             */
            function updateCheckboxes() {
                radios.unbind('click');
                radios.filter(':checked').click(function () {
                    $(this).prop('checked', false);
                });
                radios.click(function () {
                    updateCheckboxes();
                });
            }

            updateCheckboxes();

        });

    script.
        function disableEnterKey(e)
        {
             var key;
             if(window.event)
                  key = window.event.keyCode; //IE
             else
                  key = e.which; //firefox

             return (key != 13);
        }


    script.
        function mySubmitFunction()
        {
            var resignotice1 = $('.resignotice1').prop('checked') ? true : false;
            var resignotice2 = $('.resignotice2').prop('checked') ? true : false;
            var resignotice = resignotice1 || resignotice2;
            var worksatisfaction1 = $('.worksatisfaction1').prop('checked') ? true : false;
            var worksatisfaction2 = $('.worksatisfaction2').prop('checked') ? true : false;
            var worksatisfaction = worksatisfaction1 || worksatisfaction2;
            var rehireable1 = $('.rehireable1').prop('checked') ? true : false;
            var rehireable2 = $('.rehireable2').prop('checked') ? true : false;
            var rehireable = rehireable1 || rehireable2;
            var leavereason1 = $('.leavereason1').prop('checked') ? true : false;
            var leavereason2 = $('.leavereason2').prop('checked') ? true : false;
            var leavereason3 = $('.leavereason3').prop('checked') ? true : false;
            var leavereason4 = $('.leavereason4').prop('checked') ? true : false;
            var leavereason5 = $('.leavereason5').prop('checked') ? true : false;
            var leavereason6 = $('.leavereason6').prop('checked') ? true : false;
            var leavereason7 = $('.leavereason7').prop('checked') ? true : false;
            var leavereason8 = $('.leavereason8').prop('checked') ? true : false;
            var leavereason = leavereason1 || leavereason2 || leavereason3 || leavereason4 || leavereason5 || leavereason6 || leavereason7 || leavereason8;
            //var dateright = ($(dateofjoining).pVal()=='' || $(resigsubmit).pVal()=='' || $(relievedon).pVal()=='')
            $('#empidbox').css('border-color', '#DDDDDD');
            $('#namebox').css('border-color', '#DDDDDD');
            $('#desigbox').css('border-color', '#DDDDDD');
            $('#reportingbox').css('border-color', '#DDDDDD');
            $('#datebox1').css('border-color', '#DDDDDD');
            $('#datebox2').css('border-color', '#DDDDDD');
            $('#resignotice').css('border-color', '#DDDDDD');
            $('#datebox3').css('border-color', '#DDDDDD');
            $('#worksatisfaction').css('border-color', '#DDDDDD');
            $('#leavereason').css('border-color', '#DDDDDD');
            $('#rehireable').css('border-color', '#DDDDDD');
            //alert(resignotice);
            //alert(worksatisfaction);
            //alert(leavereason);
            var radioright = (worksatisfaction && leavereason && resignotice && rehireable);
            //alert(radioright);
            //alert(dateright);
            /*if(!radioright)
            {
                alert("RadioError");
                return(false);
            }*/
            //alert("HHK");
            //alert($('#datepicker2').pVal()=='');
            var dateright = ($('#datepicker1').pVal()=='' || $('#datepicker2').pVal()=='' || $('#datepicker3').pVal()=='');
            //alert(dateright);

            if (!radioright || !$('#empid').val() || !$('#name').val() || !$('#designation').val() || !$(reportingto).val() || dateright)
            {
                document.getElementById('Error').innerHTML = "The textboxes outlined in red are compulsory and have to be filled in";
                alert("All Required fields have not been filled in");
                //flag=false
                if($('#empid').val() == '')
                    $('#empidbox').css('border-color', 'red');
                if($('#name').val() == '')
                    $('#namebox').css('border-color', 'red');
                if($('#designation').val() == '')
                    $('#desigbox').css('border-color', 'red');
                if($('#reportingto').val() == '')
                    $('#reportingbox').css('border-color', 'red');
                if($('#datepicker1').pVal() == '')
                    $('#datebox1').css('border-color', 'red');
                if($('#datepicker2').pVal() == '')
                    $('#datebox2').css('border-color', 'red');
                if(!resignotice)
                    $('#resignotice').css('border-color', 'red');
                if($('#datepicker3').pVal() == '')
                    $('#datebox3').css('border-color', 'red');
                if(!worksatisfaction)
                    $('#worksatisfaction').css('border-color', 'red');
                if(!leavereason)
                    $('#leavereason').css('border-color', 'red');
                if(!rehireable)
                    $('#rehireable').css('border-color', 'red');
                //alert(isChecked);

                return false;
            }
            else{
                var resignoticesend,worksend,hire,op1=null,op2=null,op3=null,op4=null,op5=null,op6=null,op7=null,op8=null;
                if(resignotice1)
                    resignoticesend=$('.resignotice1').val();
                else if(resignotice2)
                    resignoticesend=$('.resignotice2').val();
                if(worksatisfaction1)
                    worksend=$('.worksatisfaction1').val();
                else if(worksatisfaction2)
                    worksend=$('.worksatisfaction2').val();
                if(rehireable1)
                    hire=$('.rehireable1').val();
                else if(rehireable2)
                    hire=$('.rehireable2').val();
                if(leavereason1)
                    op1='Yes'
                if(leavereason2)
                    op2='Yes'
                if(leavereason3)
                    op3='Yes'
                if(leavereason4)
                    op4='Yes'
                if(leavereason5)
                    op5='Yes'
                if(leavereason6)
                    op6='Yes'
                if(leavereason7)
                    op7='Yes'
                if(leavereason8)
                    op8='Yes'
                $.ajax({
                    url: '/form001',
                    type: 'POST',
                    data: {name: $('#name').val(),
                        empid: $('#empid').val(),
                        designation: $('#designation').val(),
                        reportingto: $('#reportingto').val(),
                        dateofjoining:$('#datepicker1').pVal(),
                        resigsubmit:$('#datepicker2').pVal(),
                        resignotice:resignoticesend,
                        relievedon:$('#datepicker3').pVal(),
                        worksatisfaction: worksend,
                        comments:$('#commentdata').val(),
                        op1:op1,
                        op2:op2,
                        op3:op3,
                        op4:op4,
                        op5:op5,
                        op6:op6,
                        op7:op7,
                        op8:op8,
                        addcomments1:$('#addcommdata1').val(),
                        addcomments2:$('#addcommdata2').val(),
                        rehireable:hire
                    },
                    success: function(data){
                        if(typeof(data.error)=="string")
                            alert(data.error);
                        if(typeof(data.redirect)=="string") {
                            window.location = data.redirect;
                        }
                    }
                });
                return false;
            }
        }
